<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjt.business.mapper.OrderMapper">
    <parameterMap id="orderParame" type="com.sjt.business.entity.Order" />
    <resultMap id="orderResult" type="com.sjt.business.entity.Order" />

    <sql id="base_all">
        id, order_no, user_id, address_id, total_amount, org_amount, discount_amount,
        payment, post_fee, status, create_date, update_date, payment_date, consign_date,
        end_date, close_date, shipping_name, shipping_code, buyer_message, buyer_rate
    </sql>

    <select id="selectOneByOrderNo" parameterType="java.lang.String" resultMap="orderResult">
        select
        <include refid="base_all" />
        from t_order
        where order_no = #{orderNo}
    </select>

    <select id="selectOverdueOrder" resultMap="orderResult">
        select
        <include refid="base_all" />
        from t_order
        where timestampdiff(DAY, create_date, now()) &gt;= 1
    </select>
</mapper>
