<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjt.business.mapper.ProductMapper">
    <parameterMap id="productParame" type="com.sjt.business.entity.Product" />
    <resultMap id="productResult" type="com.sjt.business.entity.Product" />

    <sql id="base_all">
        id, product_name, supplier_id, one_level_category, two_level_category,
        three_level_category, publish_status, new_arrivals, main_image, product_details,
        descript, spec_grop_name, spec_type, create_date, update_date
    </sql>

    <select id="selectSoldOut" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(1) from
        t_order t1 inner join t_order_item t2 on t1.id = t2.order_id
        where t1.status = '4' and t2.product_spec_id = #{productSpecId}
    </select>
</mapper>
