<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjt.business.mapper.WxOauthAccessTokenMapper">
    <parameterMap id="wxOauthAccessTokenParame" type="com.sjt.business.entity.WxOauthAccessToken" />
    <resultMap id="wxOauthAccessTokenResult" type="com.sjt.business.entity.WxOauthAccessToken" />

    <sql id="base_all">
        id, access_token, expires_in, expires_time, refresh_token,
        openid, scope, create_date, refresh_date
    </sql>

    <select id="selectByAccessToken" parameterType="java.lang.String" resultMap="wxOauthAccessTokenResult">
        select
        <include refid="base_all" />
        from t_wx_oauth_access_token
        where refresh_token = #{token}
    </select>
</mapper>
